<body style="background-color:#cecece">
  <div>

    <md-content layout="column" layout-gt-xs="row" style="background-color:#cecece" >
      <md-card flex flex-gt-md="30" ng-repeat="item in vm.cards">
        <img src="{{item.image}}" class="md-card-image" alt="Washed Out">
        <md-card-content>
          <h2 class="md-title">{{item.title}}</h2>
          <p>
          {{item.desc}}
          </p>
        </md-card-content>
      </md-card>
      <br>
    </md-content>
  </div>

  <body>
    
    <!--
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->