<body style="background-color:#cecece">
  <div>

    <md-content layout="column" layout-gt-xs="row" style="background-color:#cecece">

      <md-card flex flex-gt-md="30">
        <img src="{{vm.imagePath}}" class="md-card-image" alt="Washed Out">
        <md-card-content>
          <h2 class="md-title">Paracosm</h2>
          <p>
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
          </p>
        </md-card-content>
        <div class="md-actions" layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </div>
      </md-card>
      <br>

      <md-card flex flex-gt-md="30">
        <img src="{{vm.imagePath}}" class="md-card-image" alt="Washed Out">
        <md-card-content>
          <h2 class="md-title">Paracosm</h2>
          <p>
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
          </p>
        </md-card-content>
      </md-card>
      <br>

    </md-content>
    <md-content layout="column" layout-gt-xs="row" style="background-color:#cecece">
            <md-card flex flex-gt-md="30">
        <img src="{{vm.imagePath}}" class="md-card-image" alt="Washed Out">
        <md-card-content>
          <h2 class="md-title">Paracosm</h2>
          <p>
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
          </p>
        </md-card-content>
      </md-card>
    </md-content>
  </div>

  <body>
    
    <!--
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->