<div class="registerProject">
	<div class = "container">
		<div class="fixed row">
			<lp-input name = "field.name" value= "field.value" input-type="field.type" class="col-md-10" ng-repeat="field in vm.inputsForm"></lp-input>
			<lp-chips title="vm.languages.title" buffer="vm.languages.buffer" values="vm.languages.values" class="col-md-11 chAlign"></lp-chips>
			<lp-chips title="vm.users.title" buffer="vm.users.buffer" values="vm.users.values" class="col-md-11 chAlign"></lp-chips>
			<lp-button name="vm.button.name" on-click="vm.button.onClick"></lp-button>
		</div>
	</div>
</div>