<div ng-controller="projectsTabController as vm" class="projectsTab">
	<div>
    <md-content layout="column" layout-gt-xs="row" style="background-color:#cecece" ng-repeat="item in vm.cards">
      <md-card flex flex-gt-md="30" ng-repeat="item2 in item.row">
        <img src="{{item2.image}}" class="md-card-image" alt="Washed Out">
        <md-card-content class="contents">
          <h2 class="md-title">{{item2.title}}</h2>
          <p>
          {{item2.desc}}
          </p>
        </md-card-content>
      </md-card>
      <br>
    </md-content>
  </div>
</div>