<div class="lp-input">
	<md-input-container class="md-block" flex-gt-sm>
	<label>{{title}}</label>
	<input ng-if="required && !errorMessage" required name="{{name}}" ng-model="valueModel"
	minlength="{{minLength}}" maxlength="{{maxLength}}"
	ng-pattern="pattern" min="{{min}}" max="{{max}}"
	ng-focus="vm.changeShowHintsValue()"
	ng-blur="vm.changeShowHintsValue()"/>
		<input ng-if="!required && !errorMessage" name="{{name}}" ng-model="valueModel"
	minlength="{{minLength}}" maxlength="{{maxLength}}"
	ng-pattern="pattern" min="{{min}}" max="{{max}}"
	ng-focus="vm.changeShowHintsValue()"
	ng-blur="vm.changeShowHintsValue()"/>
	<div ng-if="errorMessage">
		<input ng-if="!required" name="{{name}}" ng-model="valueModel"
		minlength="{{minLength}}" maxlength="{{maxLength}}"
		ng-pattern="pattern" min="{{min}}" max="{{max}}"
		ng-focus="vm.changeShowHintsValue()"
		ng-blur="vm.changeShowHintsValue()"/>
		<div class="hint" ng-show="vm.showHints">{{hintMessage}}</div>
		<div ng-messages="[formName][name].$error" ng-hide="vm.showHints">
			<div ng-message-exp="messageExps">
				{{errorMessage}}
			</div>
		</div>
	</div>
	</md-input-container>
</div>
