<div class="dashboard">
	<md-toolbar>
	<div class="md-toolbar-tools">
		<h2>
		<md-button class="md-icon-button" aria-label="Menu" ng-click="vm.openSideNavPanel()">
		<span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
		<md-tooltip>Menu</md-tooltip>
		</md-button>
		<span ng-click="vm.redirectLogin()">Login</span>
		<span ng-click="vm.redirectProject()">Project</span>
		</h2>
		<div class="searchbar" ng-show="vm.isActive">
			<md-autocomplete
			ng-disabled="vm.isDisabled"
			md-no-cache="vm.noCache"
			md-selected-item="vm.selectedItem"
			md-search-text-change="vm.searchTextChange(vm.searchText)"
			md-search-text="vm.searchText"
			md-selected-item-change="vm.selectedItemChange(item)"
			md-items="item in vm.querySearch(vm.searchText)"
			md-item-text="item.display"
			md-min-length="0"
			placeholder="Search"
			>
			<md-item-template>
			<span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.display}}</span>
			</md-item-template>
			<md-not-found>
			No results with:"{{vm.searchText}}" were found.
			</md-not-found>
			</md-autocomplete>
		</div>
		<div class="searchicon" ng-show="vm.isInHomeView">
			<span ng-click="vm.showSearchbar()" class="glyphicon glyphicon-search" aria-hidden="true"></span>
		</div>
	</div>
	</md-toolbar>
	<md-sidenav class="md-sidenav-left md-whiteframe-z2"
	md-component-id="left">
	<md-toolbar layout="row">
	<div class="md-toolbar-tools">
		<h2>
		<span>Menu</span>
		</h2>
		<span flex></span>
		<md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="vm.closeSideNavPanel()">
		<span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
		<md-tooltip>Close Menu</md-tooltip>
		</md-button>
	</div>
	</md-toolbar>
	<md-content layout-padding="">
	<md-list>
	<md-subheader class="md-no-sticky">Options</md-subheader>
	<md-list-item ng-click="item.onClick()"  class="list-element-option" ng-repeat="item in vm.panelOptions">
	<lp-button round="vm.round" 
	icon="item.icon" color="item.color" mini="vm.round" ></lp-button>
	<div class="md-primary title-option">
		<p>{{item.title}}</p>
	</div>
	</md-list-item>
	</md-list>
	</md-content>
	</md-sidenav>
	<lp-button arial-label="vm.addNewButton.name" on-click="vm.addNewButton.onClick" round="vm.addNewButton.round" 
	icon="vm.addNewButton.icon" class="add-new" 
	ng-show="vm.isInHomeView"></lp-button>
	<div ui-view class="view-area"></div>
</div>