.login{
    background-image: url("../images/go.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #EEE;
    height: 100%;
    width:100%;
    .center {
    width: 50%;
    margin-right: auto;
    margin-left: 45%;
    color:blue;
    }
	.fixed{
		margin-right: 25%;
        margin-left: 25%;
        margin-top: 15%;
        padding: 5%;
        background: #fafafa;
        border: 1px solid #ebebeb;
        box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
    	.md-input-container{
    		width: 100%;
    	}
    	.md-button{
    		margin-left: 10%;
    		margin-right: 10%;
    		width: 80%;
    	}
	}
}

